<section id="footer" class="footer mt-3 borde fondo">
    <div class="seccion rounded shadow-sm p-3 row celular">
      <div class="col-md-9">
      <h6 class="mt-2">© Blackstorm</h6>
    </div>
  <div class="col-md-3 d-flex justify-content-end">

    <a href="https://www.youtube.com/channel/UCaYIT-GrNJe3mLouCu671Qg" target="_blank"><button type="button" class="btn"><i class="fa-brands fa-youtube"></i></button></a>

      <a href="mailto:soyelegido15@gmail.com?Subject=Consulta%20oportunidad%20laboral%20vía%20Portfolio%20Web" target="_blank"><button type="button" class="btn btn-close-dark"><i class="fa-solid fa-envelope"></i></button></a>

      <a href="#top"><button type="button" class="btn btn-close-dark"><i class="fa-solid fa-arrow-turn-up"></i></button></a>

      
    </div>
  </div>
</section>
