<ul class="list-group list-group-horizontal celular mt-2">
    <li class="list-group-item"><a href="https://www.instagram.com/luks_vera_llvprod/" target="_blank"><h5><i class="fa-brands fa-instagram fa-2xl"></i></h5></a></li>
    <li class="list-group-item"><a href="https://www.linkedin.com/in/lucas-vera-llv-prod-437130213/" target="_blank"><h5><i class="fa-brands fa-linkedin fa-2xl"></i></h5></a></li>
    <li class="list-group-item"><a href="https://github.com/Blackstorm23" target="_blank"><h5><i class="fa-brands fa-github fa-2xl"></i></h5></a></li>
    <li class="list-group-item"><a href="https://www.youtube.com/channel/UCaYIT-GrNJe3mLouCu671Qg" target="_blank"><h5><i class="fa-brands fa-youtube fa-2xl"></i></h5></a></li>
</ul>