<section id="estudios" class="about2 borde1 mt-3">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-1 mt-4"><h2 class="fw-normal" style="color: #ffffff;">ESTUDIOS
        </h2>
        </div>
        <div class="col-md-4 mt-4">
          <a href="#top"><button type="button" class="btn btn-outline-info"><i class="fa-solid fa-arrow-turn-up">
          </i></button></a>
        </div>
        <div class="col-md-7 mt-4 esquinar">
                        <!-- Button trigger modal -->
        <button type="submit" *ngIf="isLogged" class="editar" data-bs-toggle="modal" data-bs-target="#estudiosModalAdd" title="Agregar"><i class="fa-regular fa-square-plus fa-2xl"></i></button>
            </div>
            </div>
  <hr style="color: #ffffff;">
  <br>
  <div class="row" *ngFor="let estudio of estudios">
  <div class="col-md-3">
    <img [src]="estudio.logo">
    <h5 style="color: #ffffff;">{{estudio.nombreInstituto}}</h5>
    <h6 style="color: #ffffff;">{{estudio.inicio}} / {{estudio.fin}}</h6>
  </div>
  <div class="col-md-8">
    <h5 style="color: #ffffff;">{{estudio.titulo}}</h5>
  </div>
  <div class="col-md-1">
              <!-- Button trigger modal-->
<button type="submit" *ngIf="isLogged" class="editar" data-bs-toggle="modal" data-bs-target="#editarexperiencia" title="Editar"><i class="fa-solid fa-pencil" routerLink="editEstudios/{{estudio.id}}"></i></button>
<button type="submit" *ngIf="isLogged" class="editar" title="Borrar"><i class="fa-solid fa-trash" (click)="delete(estudio.id)"></i></button>
  </div>
  </div>
</div>
  </section> 
  <app-estudios-add></app-estudios-add>